<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block meta %}
        <title>Landing Page</title>
        <meta name=description content="">
        <meta name=keywords content="">
    {% endblock %}

    {% block styles %}
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        {#        <link href="../../../public/assets...." rel="stylesheet">#}
        {#        <link href="/assets/css/custom.css" rel="stylesheet">#}
    {% endblock %}
</head>

<body>

{% include 'components/navbar.html.twig' %}

{% block content %} {% endblock %}

{% include 'components/footer.html.twig' %}

{% block js %}
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom/main.js"></script>
    {#    <script src="/assets/js/slick.min.js"></script>#}
    {#    <script src="/assets/js/custom.js"></script>#}
{% endblock %}
</body>
</html>