{% extends 'templates/app.html.twig' %}

{% block content %}

  {{ translation.residence_permit }}
   {{ translation.apply_for_free_cons_now }}
<header class="header">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-12 align-self-center test">
                <h1 class="text-center firstH">Вид на жительство в <br>Польше</h1>

            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary custom d-block w-100">Primary</button>

            </div>
        </div>
    </div>
</header>
<section class="service">
    <div class="container">

        <h2 class="text-center">Наши услуги</h2>
        <p class="text-center">Решение любых проблем в сфере легализации в Польше. Доступные цены, инивидуальный подход и быстрый результат. </p>

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card custom card-service"  style="width: 18rem;">
                    <img src="http://via.placeholder.com/400x260" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">
                            ВНЖ для студентов</h5>
                        <p class="card-text">Сделаем ваш процесс получения карты побыта для ученика польского ВУЗа или колледжа быстрым и легким. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card custom card-service"  style="width: 18rem;">
                    <img src="http://via.placeholder.com/400x260" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">
                            ВНЖ на основании работы</h5>
                        <p class="card-text">Решение вопросов с работодателем, карта без привязки к работе, выход из самых сложных ситуаций</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card custom card-service"  style="width: 18rem;">
                    <img src="http://via.placeholder.com/400x260" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">
                            ВНЖ для предпринимателей</h5>
                        <p class="card-text">Сделаем ваш процесс получения карты побыта для ученика польского ВУЗа или колледжа быстрым и легким. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<section class="main-question ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card custom card-service w-100"  style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title ">
                            Почему мы?</h2>
                        <h3>
                            Знания. Опыт. Эффективность.
                        </h3>
                        <p class="card-text">Главная задача нашей команды опытных специалистов это в кратчайшие сроки получить вашу карту побыта. Для этого у нас есть все необходимые знания и навыки. Специалисты получившие не одну сотню карт для своих клиентов помогут разобраться даже с самой сложной ситуацией в процессе легализации вашего пребывания в Польше.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary custom d-block w-100">Primary</button>

            </div>
        </div>
    </div>

</section>


    <button type="button" class="btn btn-primary">Primary</button>

    <button type="button" class="btn btn-outline-primary">Primary</button>



{% endblock %}
